body {
    background-color: #000;
    color: #fff;
    display: flex;
}

h1, h2, h3, h4, h5, h6 {
    color: #fff;
}

a {
    color: #fff;
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.button:hover {
    background-color: #fff;
    color: #000;
}